/* RESET CSS ////////////////////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONTS /////////////////////////////////////////////// */

/* app font */
@font-face {
    font-family: "Priscillia";
    src: url(../fonts/PriscilliaScript.otf);
}

/* restaurant 1 fonts */
@font-face {
    font-family: "Stardust";
    src: url(../fonts/StardustAdventure.ttf);
}
@font-face {
    font-family: "Rest1FontTitle";
    src: url(fonts/HammersmithOne.ttf);
}

@font-face {
    font-family: "Rest1FontBody";
    src: url(fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Rest1FontBodyBold";
    src: url(fonts/Quicksand-Bold.otf);
}

/* GENRAL APP STYLES /////////////////////////////////// */


body {
    font-size: 14px;
    overflow: hidden;
}

main {
    position: absolute;
    width: 375px;
    height: 667px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}



section {
    position: absolute;
    top: 72px;
    width: 375px;
    height: 540px;
    background: #FFF;
    overflow: auto;
    
}
.home{
	width: 375px;
    height: 530px;
}
.specials{
	height: 540px;
}

footer {
    width: 375px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

/* SPLASH SCREEN ////////////////////////////////////////// */

#splash {
    background-color: #00bff3;
    background-size: cover;
}

#splash header {
    font-family: "Priscillia", sans-serif;
    border-bottom: solid 5px #FFF;
    background: #ffc105;
    font-size: 30px;
    color: #FFF;
    padding: 20px;
    height: 90px;
    text-align: center;
}

#splash img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
}

#splash footer {
    height: 10px;
    background: #ffc105;
	bottom: 0px;
}

/* LANDING SCREEN ///////////////////////////////////////// */
.brand{
	width: 95%;
	height: 29.5%;
	background-color: red;
	margin: 3px;
	margin: 6px auto;
	position: relative;
}
.brand img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
}


/* MENU ////////////////////////////////////////////// */

#menu {
    font-family: "AppFont", sans-serif;
    background-color: #00bff3;
    padding-top: 0px;
}

#menu header {
    padding: 20px;
    border-bottom: solid 5px #00bff3;
    background-color: #ffc105;
    color: #FFF;
    font-size: 25px;
    line-height: 100%;
}

.menuBtn {
    padding: 20px;
    background: #FFF;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 100%;
}

.menuBtn img {
    width: 25px;
    height: auto;
    float: left;
    margin-right: 7px;
}

.menuBtn span {
    display: block;
    margin-top: 2px;
}

.contactIcon {
    margin-top: 3px;
}


/* SHARED RESTAURANT /////////////////////////////////// */

/* header/footer */
header{
	width: 100%;
	height: 10%;
	box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0;
	z-index: 99;
	
}
.fa-bars{
	position: absolute;
	left: 22px;
	top: 18px;
	color: white;
}
header .hamburger {
    width: 35px;
    height: auto;
    float: left;
    margin-right: 85px;
	margin: 20px;
}
.rest header .headerImage{
	position: absolute;
	left: 100px;
	top: 6px;
	color: white;
	width: 180px;
	
}
.rest footer{
	display: flex;
	box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.3);
}
footer div {
    float: left;
    text-align: center;
    overflow: auto;
    font-size: 12px;
    padding: 10px;
    color: #FFF;
	flex: 1;
	justify-content: space-around;
}

footer img {
    height: 25px;
    width: auto;
}


/* general home*/
.home img{
	width: 100%;
	margin: 0;
}
.home h2{
	font-family: "Stardust";
	margin-left: 10px;
	font-size: 55px;
	font-weight: 400;
	
}
.home h3{
	font-family: arial;
	margin-left: 23px;
	margin-top: -15px;
	font-size: 13px;
	font-weight: 100;
}
#rating{
	width: 30%;
	margin-left: 20px;
	margin-top: 10px;
}
.fa-thumbs-up{
	font-size: 30px;
	color: #63bc46;
	margin-right: 10px;
}
.likes{
	float: right;
	margin-right: 20px;
	height: auto;
	width: 90px;
	line-height: 30px;
	margin-top: -25px;
	font-size: 13px;
}
.description{
	margin-top: 19px;
	padding: 40px 20px;
	padding-bottom: 0px;
	font-size: 13px;
}
.greyBorder{
	padding: 10px;
	padding-left: 20px;
	font-size: 16px;
	width: 100%;
	height: auto;
	border-top: 1px solid rgba(1,1,1,0.2);
}
.greyBorder i{
	color: darkgrey;
	font-size: 20px;
	
}


/* general specials section */

.specialImage{
	width: 360px;
	height: 200px;
	position: relative;
	margin: 5px auto;
}
.specialImage img{
	width: 100%;
	border-radius: 3%;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.imageFloat{
	position: absolute;
	bottom: 30px;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	color: black;
	font-size: 18px;
	text-align: center;
	padding: 6px;
	font-weight: 300;
	border-radius: 5%;
	
}


/* general reservations section */
form{
	width: 340px;
	margin: 0 auto;
}
.btn-primary{
	margin: 10px 110px;
	
	
}

/* RESTAURANT 1 ////////////////////////////////////// */



/* general specials/reservations */


/* specials */


/* reservations */





span{
	font-size: 13px;
	font-family: Arial;
	font-weight: 400;
	
	margin-left: 28px;
}
.address{
	width: 340px;
	height: 80px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%,-50%);
	background-color:rgba(255,255,255,0.9);
	font-size: 18px;
	align-content: center;
	border-radius: 5%;
	padding: 15px
}



.select{
	width: 100%;
	height: 8%;
	background-color: beige;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	box-sizing: border-box;
	padding-top: 5px;
}

.imageFloat ul{
	list-style: none;
}








.contactform {
    /* font-family: AppFont; */
    text-align: center;
    font-weight: bolder;
    
}
.contactbox {
    background:#fff;
    padding:5px;
    border:1px solid #000;
    width:95%;
    margin:10px;
    height:auto;
    opacity:0;
}

#menu input, #menu select, #menu textarea {
    border-color: #00274d;
    font-family: sans-serif;
}

#menu input:focus, #menu select:focus, #menu textarea:focus {
    outline: none;
    background: rgba(153, 0, 51, 0.05);
}

#menu p {
    margin:2px;
}

#menu .submit {
    border-color: #FFF !important;
    color: #FFF;
    background: #c97d2a;
}

#menu .submit span {
    color:#c97d2a;
}

#menu .submit:hover {
    border-color: #c97d2a !important;
    color: #c97d2a;
    background: #FFF;
}